    body {
        font-family: 微软雅黑;
    }
    .container-fluid {
        position: relative;
    }
    .btn {
        font-family: 微软雅黑;
    }
    #hello {
        background: url(../img/top.jpg);
        width: 1333px;
        height: 540px;
    }
    #inhelllo {
        margin: 120px;
        text-align: center;
    }
    #helloh1 {
        font-size: 90px;
        height: 75px;
    }
    .btn1 {
        font-size: 80px;
        padding: 40px 40px 10px 20px;
        margin: 5px 50px;
        width: 60px;
        height: 60px;
        box-shadow: ;
        border-width: 5px;
        border-color: rgba(51, 51, 51, 0.31);
        border-radius: 100%;
    }
    #hellobtn1, #hellobtn2 {
        margin: 0px 30px;
    }
    .slideimg {
        width: 1086px;
        height: 431px;
    }
    .introduce, .info {
        font-size: 18px;
    }
    .nav-header {
        font-size: 25px;
    }
    .nav-list {
        font-size: 18px;
    }
    #navbar {
        width: 143px;
        height: 462px;
    }
